{% if default_gateway_mode == 'CORE' %}
{% for vlan in vlans if vlan.enabled and vlan.svi_gateway_ip %}
interface vlan {{ vlan.vlan_id }}
   ip address {{ vlan.svi_gateway_ip }}/{{ vlan.svi_mask }}
{% if vlan.dhcp_relay_ips %}
{% for relay in vlan.dhcp_relay_ips %}
   ip helper-address {{ relay }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
